<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th class="header-week-label" rowspan="2">
                {{ "week"|trans }} {{ planning.start|date('W') }}
            </th>

            {% for day in planning.data.days %}
                <th {% if day|date('d/m/Y') == "now"|date('d/m/Y') %}class="today"{% endif %}>
                    {{ day|localeDate('medium','none',null,'EEEE') }}
                </th>
            {% endfor %}
        </tr>
        <tr>
            {% for day in planning.data.days %}
                <th {% if day|date('d/m/Y') == "now"|date('d/m/Y') %}class="today"{% endif %}>
                    {{ day|date('d/m') }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for resourceData in planning.data.resources %}
            <tr>
                <td>
                    {{ resourceData.resource }} (<span style="color: {{ resourceData.resource.team.color }};">{{ resourceData.resource.team }}</span>)
                </td>

                {% for dayData in resourceData.days %}
                    <td {% if dayData.assignment is defined %}style="background-color:rgba({{ planning.data.project.color|rgbColor }}, 0.5) !important;"{% endif %}>
                        {% if dayData.assignment is defined %}
                            <div class="planning-workload">{{ dayData.assignment.getWorkload()|workloadFormat }}</div>

                            {% if dayData.assignment.commontask %}
                                <div class="planning-metatask">{{ dayData.assignment.commontask.metatask }}</div>
                                <div class="planning-task">{{ dayData.assignment.commontask }}</div>
                            {% endif %}

                            {% if dayData.assignment.subtask %}
                                <div class="planning-subtask">{{ dayData.assignment.subtask.name }}</div>
                            {% endif %}

                            {% if dayData.assignment.comment %}
                                <div class="planning-comment">&laquo; {{ dayData.assignment.comment|nl2br }} &raquo;</div>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>